body {
  width: 300px;
}

section {
  display: flex;
  justify-content: space-between;
  align-items: top;
}

section > button {
  height: fit-content;
}

form > textarea {
  width: 100%;
  height: 150px;
}

form > div {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

form > div > button {
  height: fit-content;
  width: fit-content;
}
